/outputs/adj_matrix_motif.graphml
/outputs/directed_adj_matrix_motif.graphml
/outputs/directed_adj_matrix_motif_1.graphml
/outputs/directed_adj_matrix_motif_MAIN.graphml
/outputs/graph_phrase_only.graphml
/outputs/undirected_adj_matrix_motif_1.graphml
/outputs/undirected_adj_matrix_motif_2.graphml
